<div>
  <div style="display: inline-block"><h2> Updating {{.FileName}} </h2></div>
  <a class="btn btn-primary btn-sm float-right title-button" href="/history/{{.AbsolutePath}}">History</a>
  <a class="btn btn-primary btn-sm float-right title-button" href="/{{.AbsolutePath}}">View Page</a>
</div>

<hr/>
<div class="card" style="background-color: #fafafa;">
  <div class="card-block">
    <h3 class="card-title">{{.FileName}}</h3>
    <form action="/create/{{.AbsolutePath}}" method="POST">
      <div class="form-group">
        <textarea rows="5" name="content" class="form-control">{{.Body}}</textarea>
      </div>

      <div class="form-group">
        <input name="comment" class="form-control" value="Updated {{.FileName}}"></input>
      </div>

      <button type="submit" class="btn btn-primary"> Save </button>
    </form>
  </div>
</div>
