<div>
  <div style="display: inline-block"><h2>Latest Changes (Globally)</h2></div>
  <a class="btn btn-primary btn-sm float-right title-button" href="/">Home</a>
</div>

<hr/>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Comment</th>
      <th scope="col">Commit #</th>
      <th scope="col">Last Edited</th>
    </tr>
  </thead>
  <tbody>
    {{ range .}}
    <tr>
      <th>{{.Name}}</th>
      <td>{{.Message}}</td>
      <td>{{.ShortHash}}</td>
      <td>{{.Time}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
