<h1> Create New Page </h1>
<hr/>
<div class="card" style="background-color: #fafafa;">
  <div class="card-block">
    <b class="card-title" style="border: 1px solid rgba(0,0,0,.125); background-color: #fff; padding: 6px 12px; border-radius: 4px;">{{.FileName}}</b>
    <div class="card-title float-right" style="font-size: 12px"><b>Note:</b> This file will be created within the <b>"{{.Dir}}"</b> directory</div>
    <form action="/create/{{.AbsolutePath}}" method="POST">
      <div class="form-group">
        <textarea rows="5" name="content" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <input name="comment" class="form-control" value="Created {{.FileName}}"></input>
      </div>

      <button type="submit" class="btn btn-primary"> Save </button>
    </form>
  </div>
</div>
